.landing-home-section {
    width: 100%;
    background: radial-gradient(ellipse at top right, #063960, 20%, #111928);
}

.text-container .ant-typography {
    color: white;
}

.text-container .sub-hero-text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
}

.about-loka-button {
    margin-top: 36px ;
    border: none !important;
    background: none !important;
    color: rgba(236, 164, 0, 1) !important;
    transition: transform 0.3s ease-in-out; 
    cursor: pointer;
}

.about-loka-button:hover {
    color: white !important;
    transform: scale(1.03);
}


.about-loka-button.isMobile {
    padding: 0px !important;
    margin-top: 16px;
}

/* .about-loka-button:hover {
    color: white !important;
    background: linear-gradient(88.85deg, #043153 -9.61%, #E09B00 116.77%) !important;
} */

.hero-image-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items:flex-start
    
}

.backers-container {
    /* background: #FFFFFFE5; */
    padding: 48px 24px;
    display: flex;
    justify-content: space-between;
    border-radius: 16px;
    margin-top: 64px;
    margin-bottom: 64px;
}

.our-backert-text {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0em;
    text-align: center;
    margin: 0px;
    color: white;
}

.our-backert-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
